
<div>

    <h2>Fruits availables</h2>
    <ul class="newcomp">
        <li *ngFor="let fruit of fruits"
        [class.selected]="fruit === selectedFruit"
        (click)="onSelect(fruit)">
        
        
        <span class="badge">{{fruit.id}}</span>{{fruit.name}}
        
    </li>
    
</ul>


<div *ngIf="selectedFruit">
    <h2>{{selectedFruit.name | uppercase}} Details</h2>
    <div><span>id:</span>{{selectedFruit.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedFruit.name" placeholder="name"/>
        </label>
    </div>

</div>

<div>
    <select [(ngModel)]="selectedFruit">
        <option *ngFor="let fruit of fruits" [value]="fruit.name">{{fruit.name}}</option>

    </select>
    <div class="row" [ngSwitch]="selectedFruit">
        <div *ngSwitchCase="'Apple'">Apple selected</div>
        <div *ngSwitchCase="'Mango'">Mango selected</div>
        <div *ngSwitchDefault>No fruit selected</div>

    </div>
</div>
</div>